.grid {
    margin: 0;
  }
  .button{
    padding: 2px;
    background-color: rgba(25, 136, 216, 0.83);
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin: 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }