.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f1f6f9;
  }
  
  .layout h1 {
    color: #14274e;
  }
  
  .mobile {
    background-color: #394867 !important;
  }
  
  .mobile h1 {
    color: #f1f6f9;
  }
  
  .tablet {
    background-color: #14274e;
  }
  
  .tablet h1 {
    color: #9ba4b4;
  }